<h2>Log In</h2>

<form method="POST" action="/login">
    <p>
        <div><label for="name">Username: </label></div>
        <input type="text" id="name" name="name">
    </p>

     <p>
        <div><label for="password">Password: </label></div>
        <input type="password" id="password" name="password">
    </p>

    <input type="submit" value="Sign In">
</form>