<h2>Sign Up</h2>

<%= @error %>


<form method="POST" action="/signup">
    <p>
        <div><label for="email">Email: </label></div>
        <input type="text" name="email" id="email">
    </p>
    
    <p>
        <div><label for="name">Username: </label></div>
        <input type="text" name="name" id="name">
    </p>

    <p>
        <div><label for="password">Password: </label></div>
        <input type="password" name="password" id="password">
    </p>

    <input type="submit" value="Sign Up">
</form>