 <form method="POST" action="/liquors">
    <label for="cabinet[liquor_ids][]"><h3>Liquors</h3></label>

    <% if @liquors.empty? %>
        <h3>Create New Liquor</h3>

        <label for="liquor[name]"><strong>Name: </strong></label>
        <input type="text" name="liquor[name]" id="new_liquor">

        <label for="liquor[liquor_count]"><strong>Par: </strong></label>
        <input type="text" name="liquor[liquor_count]">

        <label for="liquor[liquor_price]"><strong>Price: </strong></label>
        <input type="text" name="liquor[liquor_price]">

        <input type="submit" value="Create New Cabinet">
    <% else %>
        <% @liquors.each do |liquor| %>
            <input type="checkbox" name="cabinet[landmark_ids][]" id="liquor_<%= liquor.id %>" value="<%= liquor.id %>"><%= liquor.name %><br>
        <% end %>

        <h3>Create New Liquor</h3>
        
        <label for="liquor[name]"><strong>Name: </strong></label>
        <input type="text" name="liquor[name]" id="new_liquor">

        <label for="liquor[liquor_count]"><strong>Par: </strong></label>
        <input type="text" name="liquor[liquor_count]">

        <label for="liquor[liquor_price]"><strong>Price: </strong></label>
        <input type="text" name="liquor[liquor_price]">

        <input type="submit" value="Create New Cabinet">
    <% end %>