<ul>
   <% @user.cabinets.each do |cabinet| %>
      <li><a href="/cabinets/<%= cabinet.slug %>"> <%= cabinet.name %></a></li>
   <% end %>
</ul>

<a href="/cabinets/new"><button>New Cabinet</button></a>
