<h2><%= @user.name %>'s Cabinets:</h2>
<ul>
   <p>
      <% @user.cabinets.each do |cabinet| %>
         <li><a href="/cabinets/<%= cabinet.slug %>"> <%= cabinet.name %></a></li>
      <% end %>
   </p>
</ul>

<a href="/cabinets/new"><button>New Cabinet</button></a>
