<h3>Create a new Cabinet</h3>


<form method="POST" action="/cabinets">
    <label for="cabinet[name]">Name: </label><br>

    <input type="text" id="cabinet[name]" name="cabinet[name]"><br>

    <br>
    <input type="submit" value="Create New Cabinet">
</form>