<div class="about-img">
        
    <img src="/images/my_profile_pic.png" alt="Sean Bordelon pic" style="margin-left:320px;">
        
    <p style="text-align:center;">    
        I am a student at Flatiron School. This application was built to help restaurant and bars create an inventory
        of all of their liquors with prices and par included. Sinatra and ActiveRecord CRUD methods to build the routes
        and relationships necessary to make this application come alive. 
    </p>
            
</div>