<div class="about-img">
    <img src="https://scontent-atl3-2.xx.fbcdn.net/v/t1.0-9/c0.0.528.528a/s851x315/22555287_10155866439659525_8453976309269082755_n.jpg?_nc_cat=110&_nc_sid=da31f3&_nc_ohc=lmnWtHXBfzYAX9TTsOS&_nc_ht=scontent-atl3-2.xx&oh=a000b44807ebe9e403acfb68332dd3ff&oe=5F7EF0C7" alt="Sean Bordelon pic">
    <p>
        I am a student at Flatiron School. This application was built to help restaurant and bars create an inventory
        of all of their liquors with prices and par included. 
    </p>
</div>